<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264247760443-seeglhl90ua2vbjr1lkis2n33dg5255q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264247760443-seeglhl90ua2vbjr1lkis2n33dg5255q</string>
	<key>API_KEY</key>
	<string>AIzaSyCTqy4QMZILi-OqmeBGyxOB61WHLrrSz-U</string>
	<key>GCM_SENDER_ID</key>
	<string>264247760443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinnie.Savvy</string>
	<key>PROJECT_ID</key>
	<string>savvy-79712</string>
	<key>STORAGE_BUCKET</key>
	<string>savvy-79712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264247760443:ios:c3aa169745d778c33a6e1e</string>
</dict>
</plist>